*.DS_Store

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/
Breakpoints_v2.xcbkptlist

*.o
*.pyc

Pods
MANIFEST
dist
build
target

# Carthage
src/xcode/Carthage/Build
src/xcode/Carthage/Checkouts

# Cocoapods
Pods
Carthage

# AppCode specific files
.idea/
*.iml
